@model Jogador

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Faça login para ter acesso</a>
}
else
{

    <link rel="stylesheet" href="~/css/jogadores.css">
    <!-- MAIN -->
    <main>

        <section class="container-grid cadastro-equipes">

            <form method="post" action='@Url.Action("Atualizar")' enctype="application/x-www-form-urlencoded" class="frm-cad-equipe">
<input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

                <div class="cadequipe-titulo">
                    <h1>Edição de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" name="IdEquipe" id="IdEquipe">
            <option value="0">Selecione uma equipe: </option>
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
                    @if (equipe.IdEquipe == @ViewBag.Jogador.IdEquipe)
                {
                    <option value="@equipe.IdEquipe" selected>@equipe.Nome</option>
                }
                else
                {
                    <option value="@equipe.IdEquipe">@equipe.Nome</option>
                }
        }
        </select>

                <input class="campo-entrada" type="text" name="Nome" value="@ViewBag.Jogador.Nome" id="nome-jogador" placeholder="Digite o nome do Jogador:">
                <input class="campo-entrada" type="email" name="Email" value="@ViewBag.Jogador.Email" id="email-jogador" placeholder="Digite o Email do Jogador:">
                <input class="campo-entrada" type="password" name="Senha" value="@ViewBag.Jogador.Senha" id="senha" placeholder="Digite a Senha:">
                <button type="submit">Atualizar</button>
            </form>
        </section>
    </main>
}